<div class="flex flex-col min-h-screen">

    <div class="flex flex-col items-center justify-center flex-grow w-full px-4 sm:px-6 lg:px-8">
        <app-header class="w-full max-w-7xl"></app-header>
        <app-hero class="w-full max-w-7xl"></app-hero>

      <app-services class="w-full mt-12 max-w-7xl"></app-services>

      <app-testimonial class="w-full mt-12 max-w-7xl"></app-testimonial>

    </div>
    <app-cta class="w-full m-0"></app-cta>

    <app-footer class="w-full"></app-footer>
  </div>
