<!-- Conteneur principal de la page -->
<div class="flex flex-col w-full">
    <ng-container>
        <!-- Formulaire de contact pour la réunion -->
        <div class="relative flex flex-col items-center flex-auto px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="myForm">

                    <!-- Titre de la réunion -->
                    <h1 class="mt-6 mb-10 ml-1 text-[#8B7F87] text-3xl font-semibold">
                        Planifier une classe virtuelle
                        {{reunion.title}}
                    </h1>

                    <!-- Composant de téléchargement d'image -->
                    <div class="flex items-center justify-center ">
                        <app-upload [folder]="'reunions'" [image]="reunion.picture"
                            (dataEvent)="receiveData($event)"></app-upload>
                    </div>

                    <!-- Champ titre de la réunion -->
                    <mat-form-field class="w-full ">
                        <mat-label>Titre</mat-label>
                        <input matInput formControlName="title">
                        <!-- Messages d’erreur pour le titre -->
                        <mat-error *ngIf="myForm.controls['title'].errors?.['required']" class="text-red-500">
                            Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="myForm.controls['title'].errors?.['minlength']" class="text-red-500">
                            Nom doit contenir plus que 2 lettre
                        </mat-error>
                    </mat-form-field>

                    <!-- Champ date avec sélecteur -->
                    <mat-form-field class="flex-auto w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Date (Mois/Jours/Annee)</mat-label>
                        <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                        <input matInput [matDatepicker]="picker2" formControlName="date">
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <!-- Champ horaire (durée) -->
                    <mat-form-field class="w-full mt-4">
                        <mat-label>Horaire (De HH:MM A HH:MM) </mat-label>
                        <input matInput formControlName="duree">
                        <!-- Message d’erreur pour l’horaire -->
                        <mat-error *ngIf="myForm.controls['duree'].errors?.['required']" class="text-red-500">
                            Ce champ est obligatoire
                        </mat-error>
                    </mat-form-field>

                    <!-- Champ lien de la réunion -->
                    <mat-form-field class="w-full">
                        <mat-label>Lien</mat-label>
                        <input id="lien" matInput [formControlName]="'link'">
                        <!-- Messages d’erreur pour le lien -->
                        <mat-error *ngIf="myForm.controls['link'].errors?.['required']" class="text-red-500">
                            Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="myForm.controls['link'].errors?.['pattern']" class="text-red-500">
                            Veuillez entrer un lien valide
                        </mat-error>
                    </mat-form-field>

                    <!-- Champ description -->
                    <mat-form-field class="w-full ">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"> </textarea>
                        <!-- Messages d’erreur pour la description -->
                        <mat-error *ngIf="myForm.controls['description'].errors?.['required']" class="text-red-500">
                            Ce champ est obligatoire
                        </mat-error>
                        <mat-error *ngIf="myForm.controls['description'].errors?.['pattern']" class="text-red-500">
                            Entrez un numéro valide de 10 chiffres commençant par 06 ou 07.
                        </mat-error>
                    </mat-form-field>

                    <!-- Bouton de soumission -->
                    <div
                        class="flex items-end justify-end py-4 pl-1 pr-4 mt-10 -mx-6 border-t sm:-mx-6 sm:pr-12 sm:pl-7 bg-gray-50 dark:bg-transparent">
                        <button [disabled]="myForm.disabled" (click)="save(myForm.value)" class="...">
                            <span class="relative z-10">Enregistrer</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>

<!-- Gabarit de la popup de confirmation ou d'information -->
<ng-container>
    <ng-template #popupTemplate let-dialogRef>
        <!-- Bouton de fermeture -->
        <button mat-icon-button style="float:right; margin: 5px;color:#2E849D; background-color: #E0DADA; "
            matDialogClose>
            <mat-icon class="text-white">close</mat-icon>
        </button>

        <!-- Contenu de la popup -->
        <mat-dialog-content class="bg-[#FEF2F flex flex-col items-center justify-center w-full ">
            <div class="flex flex-col items-center justify-center w-full gap-5 ">
                <span class="text-[#2E849D] font-semibold text-2xl">{{PoppupContent}}</span>
            </div>
        </mat-dialog-content>
    </ng-template>
</ng-container>
