<!-- Composant d'alerte pour afficher un message, visible selon showAlert -->
<fuse-alert
    class="mt-8"
    *ngIf="showAlert"
    [appearance]="'outline'"
    [showIcon]="false"
    [type]="alert.type"
    [@shake]="alert.type === 'error'"
>
    {{alert.message}}
</fuse-alert>

<!-- Input fichier masqué, déclenché par les interactions utilisateur -->
<input
    type="file"
    #cv
    (change)="onFileSelected($event)"
    style="display: none;"
>

<!-- Conteneur flex pour le champ de formulaire lié au CV -->
<div class="flex w-full">
    <mat-form-field class="w-full ">
        <mat-label>Votre Cv</mat-label>

        <!-- Icône cliquable qui ouvre la sélection de fichier -->
        <mat-icon
            (click)="openInput(cv)"
            matPrefix
            class="hidden hover:cursor-pointer sm:flex icon-size-5"
            [svgIcon]="'heroicons_solid:arrow-up-tray'"
        ></mat-icon>

        <!-- Champ texte affichant le nom du CV sélectionné -->
        <input
            matInput
            formControlName="cv"
            (click)="openInput(cv)"
            [value]="CvTitle"
            class="text-gray-500"
        >

        <!-- Bouton pour supprimer le fichier sélectionné, affiché si un CV est présent -->
        <button
            *ngIf="CvTitle!=''"
            mat-icon-button
            color="warn"
            (click)="removeCV()"
            type="button"
        >
            <mat-icon
                matPrefix
                class="hidden sm:flex icon-size-5"
                [svgIcon]="'heroicons_outline:trash'"
            ></mat-icon>
        </button>
    </mat-form-field>
</div>
