<div class="flex flex-col items-center flex-auto min-w-0 sm:flex-row sm:justify-center md:items-start md:justify-start">
    <!-- Conteneur principal, en colonne sur petits écrans, en ligne sur medium+ -->

    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none">
        <!-- Partie formulaire : responsive, styles selon taille d’écran -->

        <div class="w-full mx-auto max-w-80 sm:mx-0 sm:w-80">
            <!-- Conteneur centré avec largeur max -->

            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.png" alt="Info Académie" class="w-8 h-12" />
            </div>

            <!-- Titre principal -->
            <div class="mt-3 mb-3 text-[1.8rem]  font-extrabold leading-tight tracking-tight">Mot de passe oublié?</div>

            <!-- Sous-titre -->
            <div class="mt-0.5 font-medium">
                Remplissez le formulaire pour réinitialiser votre mot de passe
            </div>

            <!-- Zone d’alerte affichée conditionnellement -->
            @if (showAlert) {
            <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>
            }

            <!-- Formulaire de réinitialisation du mot de passe -->
            <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
                <!-- Champ email -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <!-- Message d’erreur si email obligatoire non rempli -->
                    @if (forgotPasswordForm.get('email').hasError('required')) {
                    <mat-error> Email address is required </mat-error>
                    }
                    <!-- Message d’erreur si email invalide -->
                    @if (forgotPasswordForm.get('email').hasError('email')) {
                    <mat-error>
                        Please enter a valid email address
                    </mat-error>
                    }
                </mat-form-field>

                <!-- Lien retour vers la page de connexion -->
                <div class="mt-2 font-medium   text-[#2E849D] text-md">
                    <span>Return to</span>
                    <a class="ml-1 text-[#2E849D] text-primary-500 hover:underline" [routerLink]="['/sign-in']">sign in
                    </a>
                </div>

                <!-- Bouton de soumission -->
                <button class="w-full mt-6 bg-[#2E849D] text-white fuse-mat-button-large" mat-flat-button
                    [color]="'primary'" [disabled]="forgotPasswordForm.disabled" (click)="sendResetLink()">
                    <!-- Texte du bouton ou spinner selon état -->
                    @if (!forgotPasswordForm.disabled) {
                    <span>Envoyer le lien de réinitialisation </span>
                    }
                    @if (forgotPasswordForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
            </form>
        </div>
    </div>

    <div
        class="relative items-center justify-center flex-auto hidden w-1/2 h-[100vh] p-16 overflow-hidden bg-[#2E849D] md:flex lg:px-28 dark:border-l">
        <!-- Partie droite avec fond coloré et contenu d’accueil, visible sur écran md+ -->

        <!-- Décorations SVG en arrière-plan (cercles et points) -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>

        <svg class="absolute text-gray-700 -top-16 -right-16" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>

        <!-- Contenu textuel sur fond -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="font-bold leading-none text-gray-100 text-7xl">
                <div>Bienvenue Sur</div>
                <div>Info Academie</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-gray-300">
                Centre spécialisé en soutien scolaire et apprentissage des langues, offrant des services personnalisés
                pour réussir vos études et maîtriser de nouvelles langues. Boostez vos compétences avec nos
                experts et atteignez vos objectifs académiques et linguistiques!
            </div>
            <div class="flex items-center mt-8"></div>
        </div>
    </div>
</div>
