<!-- Button -->
<button [matMenuTriggerFor]="userActions">

    <!-- <span class="relative"> -->
        <img *ngIf="user.photo" class="rounded-full h-7 w-7" [src]="Url" />

        <mat-icon *ngIf="!user.photo" [svgIcon]="'heroicons_outline:user-circle'" class="w-7 h-7"></mat-icon>

        <span class="absolute bottom-0 right-0 w-2 h-2 rounded-full"></span>
    <!-- </span> -->


</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">

    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as</span>
            <span class="mt-1.5 text-md font-medium">{{ user.lastName }}  {{ user.firstName }}</span>
        </span>
    </button>

    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item [routerLink]="['/user/profile']">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>


    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>
